version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  groups:
    maven:
      patterns:
        - "*"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
  rebase-strategy: "auto"
  groups:
    github-actions:
      patterns:
        - "*"
